
<% blanks = "___ " * @game.word.length %>

    <h1><%= blanks %></h1>
        
 


         <%= form_for :game, :url => game_path, :method => :patch do |form| %>
            <div class="row">
                <div class="letters">
                    <% ('A'..'Z').each do |letter| %>
                    
                      <%  button_class = 'success'%>



                        <div class="small-2 medium-2 columns text-center">
                            <div class="letter">
                                <%= form.submit letter, :name => 'letter', :class => "button expand #{button_class}" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
                   



<div>
  <h2>incorrect guesses:</h2>
 game.incorrect_guesses.join(",")
</div>
<br>


remove this later:
<h2><%= @game.word %></h2>