

<br>

<% blanks = "___ " * @game.word.length %>
<center>
  <div>
    <h1><%= blanks %></h1>
      <% @alphabet.each_with_index do |letter, idx| %>
      
    <button id=<%=letter%> > <%=letter%> </button>
      <% end %>
  </div>
</center>


<div>
  <h2>incorrect guesses:</h2>
  <% @incorrect_guesses.join(",")%>
</div>
<br>


remove this later:
<h2><%= @game.word %></h2>