/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
  background-color: seashell;
 }

 .success {
  background-color: green;
  opacity: 0.65; 
  cursor: not-allowed;
  pointer-events: none;



 }

 .alert {
  background-color: red;
  opacity: 0.65; 
  cursor: not-allowed;
  pointer-events: none;
 

 }

 .disable {
  background-color: black;
  opacity: 0.65; 
  cursor: not-allowed;
  pointer-events: none;
 

 }

.letters{
  display: inline-flex;

}
 .letter{
 
  display: inline-table;

   margin-right:1px;
 }

#board{
  text-align: center;
  height:150px;
  padding: 2em;
  background-color: royalblue;
  position: relative;
/*  overflow: :hidden;*/
}

.guide{

  background-color: skyblue;
  text-align: center;
  padding: 1px;
  float: left;
  margin-right: 0.5em;
  width: 23.1%;
  height: 100%;



}

#alphabet{
  text-align: center;
  padding: 2em;
  background-color: royalblue;

}




